{% extends 'base.html' %}
{% block title %}
    About
{% endblock title %}
{% block content %}
    <div class="container p-3">
        <!-- top banner -->
        <div class="row p-3 top-banner rounded align-items-center"> 
            <div class="text-center">
                <h4 class="text-white">Team ID: <em>PNT2022TMID46366</em></h4>
                <h4 class="text-white">Project Name: <em>News Tracker Application</em></h4>
                <h4 class="text-white">Domain: <em>Cloud Application Development</em></h4>
            </div>
        </div>
        <!-- body content -->
        <div class="row container-fluid justify-content-between mt-5">
            <table>
                <tr>
                    <th>Title</th>
                    <th>Name</th>
                </tr>
                <tr>
                    <td>Team Leader</td>
                    <td>Ganesh Kumar.G</td>
                </tr>
                <tr>
                    <td>Team Member 1</td>
                    <td>Gokulakrishnan.V</td>
                </tr>
                <tr>
                    <td>Team Member 2</td>
                    <td>Sathish.S</td>
                </tr>
                <tr>
                    <td>Team Member 3</td>
                    <td>Tamil Selvan.S</td>
                </tr>
                <tr>
                    <td>Team Member 4</td>
                    <td>Vishwa Vengadesh.D</td>
                </tr>
            </table>
        </div>
        <div class="row justify-content-between mt-5">
            <h4>Project Idea :</h4>
            <p>As our lives are very busy these days, we often feel we need more than 24 hrs. a day to cope up with everything we have in our schedule. Well, that's not possible but reducing the time by changing the conventional method of reading news can help. Just tell us what market news you're interested in and get a quick peek for the day. Only read what you feel is relevant and save your time. This app helps you to query for all information about Indices, Commodities, Currencies, Future Rates, Bonds, etc.… as on official websites.</p>
        </div>
        
    <br>
{% endblock content %}
