{% extends 'base.html' %}
{% block title %}
    {{title}}
{% endblock title %}
{% block content %}
    {% if succ %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ succ }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>  
    {% endif %}

    <div class="text-center">
        <br>
        <h2>News Tracker Application</h2>
        <h3>Team ID: PNT2022TMID46366</h3>
        <br>
        <img src="/static/welcome.gif" class="img-fluid" alt="welcome">
        <br>
        <p>This is a <strong>Sprint 01</strong>.</p>
    </div>
{% endblock content %}